{% extends 'base.html.twig' %}

{% block title %}Time Card Summary{% endblock %}

{% block body %}

<div class="section_menu">

    <table width="100%" border="1">
        <tr>
            <th width="15%">Vardas, pavardė</th>
            {% for day in 1..days %}
                <th width="{{ 82/days }}%" align="center">{{ day }}</th>
            {% endfor %}
            <th>Viso</th>
        </tr>
        {% for name, array in list %}   
        {% set sum = 0 %}
            <tr>
                <td width="15%">{{name}}</td>
                {% for day in array %}
                    <td width="{{ 82/days }}%" align="center">
                        {% if day.workHours > 0 %}
                            {{ day.workHours }}
                            {% set sum = sum + day.workHours %}
                        {% elseif day.workHours == -8 %}
                            A
                        {% endif %}
                    </td>
                {% endfor %}
                <td align="center">{{ sum }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}