{% extends 'base2.html.twig' %}

{% block title %}
	{% trans %}New Invoice{% endtrans %}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}{% endblock %}

{% block body %}

	<div class="container-fluid">

		{% include('purchase/partials/menu.html.twig') %}


		<div class="card">
			<div class="card-header">{% trans %}New Invoice{% endtrans %}</div>
			<div class="card-body">
				{{ form(form) }}
				</div>
			</div>

		</div>

	{% endblock %}
