{% extends 'base2.html.twig' %}

{% block title %}{% trans %}Update Invoice details{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container-fluid">

    {% include('purchase/partials/menu.html.twig') %}

    {% include('purchase/partials/invoice_header.html.twig') %}

        <div class="row invoiceHead">
            <div class="col-6">
                <div class="card shadow" style="height: 100%"></div>
            </div>
            <div class="col-6">
                {% include 'purchase/partials/invoice_sum.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div> 
            </div>
            <div class="col-6">
                {% include 'purchase/partials/invoice_materials.html.twig' %}
            </div>
        </div>

        <script>
            function purchaseMaterial(id, invoice) {
                window.location.replace('purchase/' + invoice + '/' + id);
            }

            function updatePurchasedMaterial(id, invoice) {
                window.location.replace('/purchase/' + invoice + '/update/' + id);
            }
        </script>
    </div>
{% endblock %}
