{% extends 'base.html.twig' %}

{% block title %}{% trans %}Update Invoice details{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% include('purchase/partials/menu.html.twig') %}

    {% include('purchase/partials/invoice_header.html.twig') %}

    <div class="container">
        <div class="row invoiceHead">
            <div class="col-6">
                {# {% include('purchase/partials/search.html.twig') %} #}
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">{% trans %}Sum{% endtrans %}, €</div>
                    <div class="col-4">{% trans %}VAT{% endtrans %}, €</div>
                    <div class="col-4">{% trans %}Sum with VAT{% endtrans %}, €</div>
                </div>
                <div class="row">
                    <div class="col-4"><b>{{ invoice.amount }}</b></div>
                    <div class="col-4"><b>{{ invoice.vat }}</b></div>
                    <div class="col-4"><b>{{ invoice.amount + invoice.vat }}</b></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form(form) }}
            </div>
            <div class="col-6">
                {% include 'purchase/partials/invoice_materials.html.twig' %}
            </div>
        </div>
        <script>
            function purchaseMaterial(id, invoice) {
                window.location.replace('purchase/' + invoice + '/' + id);
            }

            function updatePurchasedMaterial(id, invoice) {
                window.location.replace('/purchase/' + invoice + '/update/' + id);
            }
        </script>
    </div>
{% endblock %}
