<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{% trans %}Welcome!{% endtrans %}
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="/images/logo.png"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app2') }}
		{% endblock %}
	</head>
	<body>

		<div class="main_content">&nbsp;</div>
		<div class="container-fluid">
			{% for message in app.flashes('error') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		</div>

		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app2') }}
		{% endblock %}
	</body>
</html>
