{% extends 'base2.html.twig' %}

{% block title %}
	{% trans %}Company details{% endtrans %}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<div class="container-fluid">
		<div class="card shadow">
			<div class="card-header">{% trans %}Company Details{% endtrans %}</div>
			<div class="card-body">
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
